<h1>Ping Pong</h1>

<p>Enter a number below to play ping pong.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="userNumber">Enter number</label>
    <input id="userNumber" name="userNumber" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
