<h1>Rock, Paper, Scissors!</h1>

<!-- <p></p> -->

<form action='/results' method='get'>
<!--<div class="form-group">
    <label for="userNumber">Enter number</label>
    <input id="userNumber" name="userNumber" class="form-control" type="text">
  </div> -->

  <button type="submit" class="btn btn-info">Go!</button>
</form>
